<form action="/reporte/edit/{{asignacion._id}}?_method=PUT" method="POST" autocomplete="off">
<input type="hidden" name="_method" value="PUT">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <h2 class="h5">Hito1</h2>
                    <input type="hidden" name="hito1Id" value="{{hito1._id}}">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-sm-6">
                            <label for="fechaCreacionHito1">Fecha de creación</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="fechaCreacionHito1"
                                    name="fechaCreacionHito1" type="text" value="{{hito1.fecha}}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="horaCreacionHito1">Hora de creación</label>
                            <input type="time" step="1" class="form-control" id="horaCreacionHito1" name="horaCreacionHito1"
                                value="{{hito1.hora}}">
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="cumplimientoHito1">Cumplimiento</label>
                            <input type="text" class="form-control" id="cumplimientoHito1" name="cumplimientoHito1"
                                value="{{hito1.cumplimiento}}">
                        </div>
                    </div>

                    <h2 class="h5">Hito2</h2>
                    <input type="hidden" name="hito2Id" value="{{hito2._id}}">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-sm-6">
                            <label for="fechaCreacionHito2">Fecha de creación</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="fechaCreacionHito2"
                                    name="fechaCreacionHito2" type="text" value="{{hito2.fecha}}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="horaCreacionHito2">Hora de creación</label>
                            <input type="time" step="1" class="form-control" id="horaCreacionHito2" name="horaCreacionHito2"
                                value="{{hito2.hora}}">
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="cumplimientoHito2">Cumplimiento</label>
                            <input type="text" class="form-control" id="cumplimientoHito2" name="cumplimientoHito2"
                                value="{{hito2.cumplimiento}}">
                        </div>
                    </div>

                    <h2 class="h5">Hito3</h2>
                    <input type="hidden" name="hito3Id" value="{{hito3._id}}">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-sm-6">
                            <label for="fechaCreacionHito3">Fecha de creación</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="fechaCreacionHito3"
                                    name="fechaCreacionHito3" type="text" value="{{hito3.fecha}}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="horaCreacionHito3">Hora de creación</label>
                            <input type="time" step="1" class="form-control" id="horaCreacionHito3" name="horaCreacionHito3"
                                value="{{hito3.hora}}">
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="cumplimientoHito3">Cumplimiento</label>
                            <input type="text" class="form-control" id="cumplimientoHito3" name="cumplimientoHito3"
                                value="{{hito3.cumplimiento}}">
                        </div>
                    </div>

                    <h2 class="h5">Hito4</h2>
                    <input type="hidden" name="hito4Id" value="{{hito4._id}}">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-sm-6">
                            <label for="fechaCreacionHito4">Fecha de creación</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="fechaCreacionHito4"
                                    name="fechaCreacionHito4" type="text" value="{{hito4.fecha}}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="horaCreacionHito4">Hora de creación</label>
                            <input type="time" step="1" class="form-control" id="horaCreacionHito4" name="horaCreacionHito4"
                                value="{{hito4.hora}}">
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="cumplimientoHito4">Cumplimiento</label>
                            <input type="text" class="form-control" id="cumplimientoHito4" name="cumplimientoHito4"
                                value="{{hito4.cumplimiento}}">
                        </div>
                    </div>

                    <h2 class="h5">Hito5</h2>
                    <input type="hidden" name="hito5Id" value="{{hito5._id}}">
                    <div class="row mb-4">
                        <div class="col-lg-3 col-sm-6">
                            <label for="fechaCreacionHito5">Fecha de creación</label>
                            <div class="input-group">
                                <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                                <input data-datepicker="" class="form-control" id="fechaCreacionHito5"
                                    name="fechaCreacionHito5" type="text" value="{{hito5.fecha}}">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="horaCreacionHito5">Hora de creación</label>
                            <input type="time" step="1" class="form-control" id="horaCreacionHito5" name="horaCreacionHito5"
                                value="{{hito5.hora}}">
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <label for="cumplimientoHito5">Cumplimiento</label>
                            <input type="text" class="form-control" id="cumplimientoHito5" name="cumplimientoHito5"
                                value="{{hito5.cumplimiento}}">
                        </div>
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary float-right">Actualizar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/reporte.js"></script>