<div class="row">
    <div class="col-12">
        <div class="row mb-2">
            <div class="col-lg-6 col-sm-6">

                <input type="hidden" id="modalIdAsig">

                <div class="mb-2">
                    <label class="h6 mb-0">Empresa</label><br>
                    <span id="modalAsigCliente">{{asignacion.cliente}}</span>
                </div>

                <div class="mb-2">
                    <label class="h6 mb-0">Usuario Asignado</label><br>
                    <span id="modalAsigUsuario">{{asignacion.usuario_asignado}}</span>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <label class="h6 mb-0">Segmento</label><br>
                        <span id="modalAsigSegmento">{{asignacion.segmento}}</span>
                    </div>

                    <div class="col">
                        <label class="h6 mb-0">Plazo</label><br>
                        <span id="modalAsigPlazo">{{asignacion.plazo}}</span>
                    </div>
                </div>

                {{!-- <div class="mb-2">
                                                <label class="h6 mb-0">Asesor Asignado</label><br>
                                                <span id="modalAsigAsesor"></span>
                                            </div> --}}

                <div class="row mb-2">
                    <div class="col">
                        <label class="h6 mb-0">Asesor</label><br>
                        <span id="modalAsigAsesor">{{asignacion.asesor}}</span>
                    </div>

                    <div class="col">
                        <label class="h6 mb-0">Fecha</label><br>
                        <span id="modalAsigFecha">{{asignacion.fecha}}</span>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-sm-6">

                <div class="row mb-2">
                    <div class="col-8">
                        <label class="h6 mb-0">Prioridad</label><br>
                        <span id="modalAsigPrioridad">{{asignacion.prioridad}}</span>
                    </div>

                    <div class="col-4">
                        <label class="h6 mb-0">Estado</label><br>
                        <span id="modalAsigEstInc">{{asignacion.estado_inc}}</span>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-8">
                        <label class="h6 mb-0">Grupo Asignado</label><br>
                        <span id="modalAsigGrupo">{{asignacion.grupo_asignado}}</span>
                    </div>

                    <div class="col-4">
                        <label class="h6 mb-0">Escalado</label><br>
                        <span id="modalAsigEscalado">{{asignacion.escalado}}</span>
                    </div>
                </div>

                <div class="mb-2">
                    <label class="h6 mb-0">Estado SLA</label><br>
                    <span id="modalAsigEstSla">{{asignacion.estado_sla}}</span>
                </div>

                <div class="mb-2">
                    <label class="h6 mb-0">Tipo incidente</label><br>
                    <span id="modalAsigTipo">{{asignacion.tipo_inc}}</span>
                </div>

            </div>

        </div>

        <div class="row mb-2">
            <div class="col-lg-12 col-sm-12">
                <div class="mb-2">
                    <label class="h6 mb-0">Resumen</label>
                    <span id="modalAsigResumen">{{asignacion.resumen}}</span>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-12 col-sm-12">
                <div class="mb-2">
                    <label for="descripcion" class="h6 mb-0">Nota</label>
                    <textarea class="form-control" id="modalAsigNota" rows="8" readonly
                        style="font-size: 14px;">{{asignacion.nota}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!--#### Seguimiento ####-->

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Registro, Diagnostico y Despacho
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <form id="formHito1" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light shadow-sm components-section">
                                <div class="card-body">
                                    <div class="row mb-0">

                                        <div class="col-lg-4 col-sm-6">

                                            <input type="hidden" name="idSegHito1" value="{{asignacion._id}}">

                                            <input type="hidden" id="idHito1" name="idHito1"
                                                value="{{asignacion.hito1}}">

                                            <div class="mb-4">
                                                <input type="hidden" id="idRegistroTiempoHito1"
                                                    value="{{hito1.registro_tiempo}}">
                                                <label for="registro_tiempo">¿Se registró el caso dentro de los 10
                                                    min?</label>
                                                <select id="registro_tiempo" name="registro_tiempo" class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                            <div class="divAsesor mb-4 d-none">
                                                <label for="asesor">Selecciones Asesor</label>
                                                <input type="hidden" id="idAsesorHito1" value="{{hito1.asesor}}">
                                                <select id="asesor" name="asesor" class="form-select">
                                                </select>
                                            </div>

                                            <div class="mb-4">
                                                <label for="diag_correcto">¿Se registró el diagnóstico
                                                    correctamente?</label>
                                                <input type="hidden" id="idRegistroDiagHito1"
                                                    value="{{hito1.diag_correcto}}">
                                                <select id="diag_correcto" name="diag_correcto" class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 col-sm-6">
                                            <div class="mb-4">
                                                <label for="hito1_descripcion">Corregir diagnóstico</label>
                                                <textarea class="form-control"
                                                    placeholder="En caso el diagnóstico no fuese el correcto, utilice este cuadro..."
                                                    id="hito1_descripcion" name="hito1_descripcion" rows="9"
                                                    disabled>{{hito1.hito1_descripcion}}</textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6">

                                            <div class="mb-4">
                                                <label for="despacho_correcto">¿Se realizó el despacho
                                                    correctamente?</label>
                                                <input type="hidden" id="idDespachoHito1"
                                                    value="{{hito1.despacho_correcto}}">
                                                <select id="despacho_correcto" name="despacho_correcto"
                                                    class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                            <div class="divDespacho d-none">
                                                <div class="mb-4">
                                                    <label for="grupo_asignado">Grupo asignado</label>
                                                    <input type="hidden" id="idGrupoAsigHito1"
                                                        value="{{hito1.grupo_asignado}}">
                                                    <select id="grupo_asignado" name="grupo_asignado"
                                                        class="form-select">
                                                    </select>
                                                </div>

                                                <div class="mb-4">
                                                    <label for="usuario_asignado">Usuario asignado</label>
                                                    <input type="hidden" id="idUsuarioAsigHito1"
                                                        value="{{hito1.usuario_asignado}}">
                                                    <select id="usuario_asignado" name="usuario_asignado"
                                                        class="form-select">
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                                        {{!-- <button type="submit" class="btn btn-primary float-right">Guardar</button> --}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Asignación de Personal Técnico
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <form id="formHito2" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light shadow-sm components-section">
                                <div class="card-body">
                                    <div class="row mb-0">

                                        <div class="col-lg-3 col-sm-6">

                                            <input type="hidden" name="idSegHito2" value="{{asignacion._id}}">

                                            <input type="hidden" id="idHito2" name="idHito2"
                                                value="{{asignacion.hito2}}">

                                            <div class="mb-4">
                                                <input type="hidden" id="idAsignarPersonalHito2"
                                                    value="{{hito2.asignar_personal}}">
                                                <label for="asignar_personal_hito2">¿Se asignó personal técnico
                                                    ?</label>
                                                <select id="asignar_personal_hito2" name="asignar_personal_hito2"
                                                    class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divAsignarPersonalTecnico col-lg-9 col-sm-6">

                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <label for="grupo_asignado_hito2">Grupo Asignado</label>
                                                    <input type="hidden" id="idGrupoAsignadoHito2"
                                                        value="{{hito2.grupo_asignado}}">
                                                    <select id="grupo_asignado_hito2" name="grupo_asignado_hito2"
                                                        class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <label for="tecnico_hito2">Personal Técnico Asignado</label>
                                                    <input type="hidden" id="idTecnicoHito2"
                                                        value="{{hito2.tecnico_asignado}}">
                                                    <select id="tecnico_hito2" name="tecnico_hito2" class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <label for="celular_tecnico_hito2">Celular Técnico
                                                        Asignado</label>
                                                    <input type="text" class="form-control" id="celular_tecnico_hito2"
                                                        name="celular_tecnico_hito2" disabled>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="divInformarMotivo col-lg-9 col-sm-6 d-none">

                                            <div class="row">

                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <input type="hidden" id="idInformarMotivoHito2"
                                                        value="{{hito2.informar_motivo}}">
                                                    <label for="informar_motivo_hito2">Informar Motivo</label>
                                                    <select id="informar_motivo_hito2" name="informar_motivo_hito2"
                                                        class="form-select" disabled>
                                                        <option value="1">Atención pendiente por accesos</option>
                                                        <option value="2">Contrata no informa</option>
                                                    </select>
                                                </div>

                                                <div class="divFechaAtencion col-lg-8 col-sm-6">

                                                    <div class="row">
                                                        <div class="col-lg-5 col-sm-6 mb-4">
                                                            <label for="fecha_atencion_hito2">Fecha para
                                                                atencion</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><span
                                                                        class="far fa-calendar-alt"></span></span>
                                                                <input data-datepicker="" class="form-control"
                                                                    id="fecha_atencion_hito2"
                                                                    name="fecha_atencion_hito2" type="text"
                                                                    placeholder="dd/mm/aaaa" value="{{hito2.fecha}}"
                                                                    disabled>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-sm-6 mb-4">
                                                            <label for="hora_atencion_hito2">Hora</label>
                                                            <input type="time" class="form-control"
                                                                id="hora_atencion_hito2" name="hora_atencion_hito2"
                                                                value="{{hito2.hora}}" disabled>
                                                        </div>

                                                        <div class="divCheckBox col-lg-4 col-sm-6 mb-4">
                                                            <div class="form-check">
                                                                <input type="hidden" id="statusChb"
                                                                    value="{{hito2.status_chb}}">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="sin_fecha_hito2" name="sin_fecha_hito2">
                                                                <label class="form-check-label" for="sin_fecha_hito2">
                                                                    Aún sin fecha
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="divEscalamiento col-lg-8 col-sm-6 d-none">

                                                    <div class="row">

                                                        <div class="col-lg-6 col-sm-6 mb-4">
                                                            <label for="informar_escalamiento_hito2">Informar
                                                                Escalamiento</label>
                                                            <select id="informar_escalamiento_hito2"
                                                                name="informar_escalamiento_hito2" class="form-select">
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-6 col-sm-6 mb-4">
                                                            <label for="persona_contacto_hito2">Persona de
                                                                Contacto</label>
                                                            <select id="persona_contacto_hito2"
                                                                name="persona_contacto_hito2" class="form-select">
                                                            </select>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="divLogroResultado col-lg-3 col-sm-6 mb-4 d-none">
                                            <input type="hidden" id="idLogroResultadoHito2"
                                                value="{{hito2.logro_resultado}}">
                                            <label for="logro_resultado_hito2">¿Se logró Resultado?</label>
                                            <select id="logro_resultado_hito2" name="logro_resultado_hito2"
                                                class="form-select" disabled>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>

                                        <div class="divBtnAgregarEscalamiento col-lg-3 col-sm-6 pt-4 d-none">
                                            <button type="button" class="btn btn-success float-left"
                                                onclick="btnAgregarTabla(selectInformarEscalHito2, selectPersonaContacHito2, selectLogroResultadoHito2, tablaEscalamiento)">Agregar Escalamiento</button>
                                        </div>

                                    </div>

                                    <div class="table-responsive">
                                        <table id="tablaEscalamiento"
                                            class="table table-sm table-centered table-nowrap table-striped mb-0 rounded w-75 d-none"
                                            style="margin: auto;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="border-0">Escalamiento</th>
                                                    <th class="border-0">Persona de Contacto</th>
                                                    <th class="border-0">Resultado</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>

                                    <div class="divAsignarPersonalTecnico2 col-lg-12 col-sm-6 mt-4 d-none">

                                        <div class="row">
                                            <div class="col-lg-3 col-sm-6 mb-4">
                                                <label for="grupo_asignado2_hito2">Grupo Asignado</label>
                                                <input type="hidden" id="idGrupoAsignado2Hito2"
                                                    value="{{hito2.grupo_asignado}}">
                                                <select id="grupo_asignado2_hito2" name="grupo_asignado2_hito2"
                                                    class="form-select">
                                                </select>
                                            </div>

                                            <div class="col-lg-3 col-sm-6 mb-4">
                                                <label for="tecnico2_hito2">Personal Técnico Asignado</label>
                                                <select id="tecnico2_hito2" name="tecnico2_hito2" class="form-select">
                                                </select>
                                            </div>

                                            <div class="col-lg-2 col-sm-6 mb-4">
                                                <label for="celular_tecnico2_hito2">Celular Técnico</label>
                                                <input type="text" class="form-control" id="celular_tecnico2_hito2"
                                                    name="celular_tecnico2_hito2" value="{{hito2.celular}}" disabled>
                                            </div>

                                            <div class="divFechaAtencion2 col-lg-4 col-sm-6 d-none">
                                                <div class="row">
                                                    <div class="col-lg-7 col-sm-6 mb-4">
                                                        <label for="fecha_atencion2_hito2">Fecha de Asignación</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><span
                                                                    class="far fa-calendar-alt"></span></span>
                                                            <input data-datepicker="" class="form-control"
                                                                id="fecha_atencion2_hito2" name="fecha_atencion2_hito2"
                                                                type="text" placeholder="dd/mm/aaaa"
                                                                value="{{hito2.fecha}}" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-5 col-sm-6">
                                                        <label for="hora_atencion2_hito2">Hora Asignac.</label>
                                                        <input type="time" class="form-control"
                                                            id="hora_atencion2_hito2" name="hora_atencion2_hito2"
                                                            value="{{hito2.hora}}" disabled>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Desplazamiento de Personal Técnico
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <form id="formHito3" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light shadow-sm components-section">
                                <div class="card-body">
                                    <div class="row mb-0">

                                        <div class="col-lg-3 col-sm-6">

                                            <input type="hidden" name="idSegHito3" value="{{asignacion._id}}">

                                            <input type="hidden" id="idHito3" name="idHito3"
                                                value="{{asignacion.hito3}}">

                                            <div class="mb-4">
                                                <input type="hidden" id="idDesplazamientoHito3"
                                                    value="{{hito3.desplazamiento}}">
                                                <label for="req_desplaz_hito3">¿Requiere desplazamiento técnico?</label>
                                                <select id="req_desplaz_hito3" name="req_desplaz_hito3"
                                                    class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divDesplazarPersonalTecnico col-lg-4 col-sm-6 mb-4">

                                            <label for="horario_acordado_hito3">¿Se desplazó Técnico en
                                                el horario acordado?</label>
                                            <input type="hidden" id="idHorarioAcordadoHito3"
                                                value="{{hito3.horario_acordado}}">
                                            <select id="horario_acordado_hito3" name="horario_acordado_hito3"
                                                class="form-select">
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>

                                        </div>

                                        <div class="divDesplazamientoSi col-lg-5 col-sm-6">

                                            {{!-- <div class="col-lg-12 col-sm-6 mb-4">
                                                <label for="tecnico_asignado_hito3">Personal Técnico Asignado</label>
                                                <input type="text" class="form-control" id="tecnico_asignado_hito3"
                                                    name="tecnico_asignado_hito3" disabled>
                                            </div> --}}

                                            <div class="row">

                                                <div class="col-lg-6 col-sm-6 mb-4">
                                                    <label for="tecnico_hito3">Personal Técnico Asignado</label>
                                                    <input type="hidden" id="idGrupoAsignadoHito3"
                                                        value="{{hito2.grupo_asignado}}">
                                                    <input type="hidden" id="idTecnicoHito3"
                                                        value="{{hito2.tecnico_asignado}}">
                                                        <input type="hidden" id="idTecnicoHito3bd"
                                                        value="{{hito3.tecnico_asignado}}">
                                                    <select id="tecnico_hito3" name="tecnico_hito3" class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 col-sm-6 mb-4">
                                                    <label for="celular_tecnico_hito3">Celular Técnico
                                                        Asignado</label>
                                                    <input type="text" class="form-control" id="celular_tecnico_hito3"
                                                        name="celular_tecnico_hito3" disabled>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-4">

                                                    <label for="fecha_llegada_hito3">Fecha de llegada</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span
                                                                class="far fa-calendar-alt"></span></span>
                                                        <input data-datepicker="" class="form-control"
                                                            id="fecha_llegada_hito3" name="fecha_llegada_hito3"
                                                            type="text" placeholder="dd/mm/aaaa"
                                                            value="{{hito3.fecha}}">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-sm-6 mb-4">
                                                    <label for="hora_llegada_hito3">Hora de llegada</label>
                                                    <input type="time" class="form-control" id="hora_llegada_hito3"
                                                        name="hora_llegada_hito3" value="{{hito3.hora}}">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="divDesplazamientoNo col-lg-5 col-sm-6 d-none">

                                            <div class="col-lg-12 col-sm-6 mb-4">
                                                <label for="tecnico_responde_hito3">Personal Técnico Asignado
                                                    Responde</label>
                                                <input type="hidden" id="idTecnicoRespondeHito3"
                                                    value="{{hito3.tecnico_responde}}">
                                                <select id="tecnico_responde_hito3" name="tecnico_responde_hito3"
                                                    class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divTecnicoRespondeSi d-none">
                                            <div class="row">
                                                <div class="col-lg-4 col-sm-6 mb-4">

                                                    <label for="fecha_llegada2_hito3">Fecha de llegada</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span
                                                                class="far fa-calendar-alt"></span></span>
                                                        <input data-datepicker="" class="form-control"
                                                            id="fecha_llegada2_hito3" name="fecha_llegada2_hito3"
                                                            type="text" placeholder="dd/mm/aaaa"
                                                            value="{{hito3.fecha}}">
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <label for="hora_llegada2_hito3">Hora de llegada</label>
                                                    <input type="time" class="form-control" id="hora_llegada2_hito3"
                                                        name="hora_llegada2_hito3" value="{{hito3.hora}}">
                                                </div>

                                                <div class="col-lg-4 col-sm-6 mb-4">
                                                    <label for="horario_indicado_hito3">¿Técnico llegó en horario
                                                        indicado?</label>
                                                    <input type="hidden" id="idHorarioIndicadoHito3"
                                                        value="{{hito3.horario_indicado}}">
                                                    <select id="horario_indicado_hito3" name="horario_indicado_hito3"
                                                        class="form-select">
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>

                                            </div>


                                        </div>


                                        <div class="divTecnicoRespondeNo d-none">

                                            <div class="row">

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="informar_escalamiento_hito3">Informar
                                                        Escalamiento</label>
                                                    <select id="informar_escalamiento_hito3"
                                                        name="informar_escalamiento_hito3" class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="persona_contacto_hito3">Persona de
                                                        Contacto</label>
                                                    <select id="persona_contacto_hito3" name="persona_contacto_hito3"
                                                        class="form-select">
                                                    </select>
                                                </div>

                                                <div class="divLogroResultadoHito3 col-lg-3 col-sm-6 mb-4">
                                                    <input type="hidden" id="idLogroResultadoHito3"
                                                        value="{{hito3.logro_resultado}}">
                                                    <label for="logro_resultado_hito3">¿Se logró Resultado?</label>
                                                    <select id="logro_resultado_hito3" name="logro_resultado_hito3"
                                                        class="form-select">
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>

                                                <div class="divBtnAgregarEscalamientoHito3 col-lg-3 col-sm-6 pt-4">
                                                    <button type="button" class="btn btn-success float-right"
                                                        onclick="btnAgregarTablaHito3(SelectEscalamientoHito3, selectContactoHito3, selectLogroResultadoHito3, tablaEscalamiento2)">Agregar Escalamiento</button>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="table-responsive">
                                            <table id="tablaEscalamiento2"
                                                class="table table-sm table-centered table-nowrap table-striped mb-0 rounded w-75 d-none"
                                                style="margin: auto;">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="border-0">Escalamiento</th>
                                                        <th class="border-0">Persona de Contacto</th>
                                                        <th class="border-0">Resultado</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="divTecnicoInfoHito3 row mt-4 d-none">

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="tecnico2_hito3">Personal Técnico Asignado</label>
                                                    <input type="hidden" id="idGrupoAsignado2Hito3"
                                                        value="{{hito2.grupo_asignado}}">
                                                    <input type="hidden" id="idTecnico2Hito3"
                                                        value="{{hito2.tecnico_asignado}}">
                                                    <select id="tecnico2_hito3" name="tecnico2_hito3" class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="celular_tecnico2_hito3">Celular Técnico
                                                        Asignado</label>
                                                    <input type="text" class="form-control" id="celular_tecnico2_hito3"
                                                        name="celular_tecnico2_hito3" disabled>
                                                </div>

                                        </div>

                                    </div>



                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Solución
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                
                <form id="formHito4" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light shadow-sm components-section">
                                <div class="card-body">
                                    <div class="row mb-0">

                                        <div class="col-lg-3 col-sm-6">

                                            <input type="hidden" name="idSegHito4" value="{{asignacion._id}}">

                                            <input type="hidden" id="idHito4" name="idHito4"
                                                value="{{asignacion.hito4}}">

                                            <div class="mb-4">
                                                <input type="hidden" id="idSolucionHito4"
                                                    value="{{hito4.solucion}}">
                                                <label for="solucion_hito4">¿Se logró dar solución?</label>
                                                <select id="solucion_hito4" name="solucion_hito4"
                                                    class="form-select">
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divSolucionSi col-lg-9 col-sm-6">

                                            <div class="row">

                                                <div class="col-lg-4 col-sm-6">
                                                    <label for="tipo_solucion_hito4">¿Cual fue la solución?</label>
                                                    <input type="hidden" id="idTipoSolucionHito4"
                                                        value="{{hito4.tipo_solucion}}">
                                                    <select id="tipo_solucion_hito4" name="tipo_solucion_hito4"
                                                        class="form-select">
                                                        <option value="1">Fisica</option>
                                                        <option value="2">Lógica</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-sm-6">
                                                    <label for="correccion_hito4">¿Que corrección se realizó?</label>
                                                    <input type="text" id="correccion_hito4" name="correccion_hito4"
                                                        class="form-control" value="{{hito4.correccion}}">
                                                    </input>
                                                </div>

                                                <div class="col-lg-4 col-sm-6">
                                                    <label for="valida_hito4">Cliente valida</label>
                                                    <input type="hidden" id="idValidaHito4"
                                                        value="{{hito4.valida}}">
                                                    <select id="valida_hito4" name="valida_hito4"
                                                        class="form-select">
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="divMotivo col-lg-3 col-sm-6 d-none">

                                            <div class="col-lg-12 col-sm-6 mb-4">
                                                <label for="motivo_hito4">Motivo</label>
                                                <input type="hidden" id="idMotivoHito4"
                                                    value="{{hito4.motivo}}">
                                                <select id="motivo_hito4" name="motivo_hito4"
                                                    class="form-select">
                                                    <option value="1">Escalamiento</option>
                                                    <option value="2">Pendiente</option>
                                                    <option value="3">Sobre - Fase</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divEscalamientoHito4 d-none">

                                            <div class="row">

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="informar_escalamiento_hito4">Informar
                                                        Escalamiento</label>
                                                    <select id="informar_escalamiento_hito4"
                                                        name="informar_escalamiento_hito4" class="form-select">
                                                    </select>
                                                </div>

                                                <div class="col-lg-3 col-sm-6 mb-4">
                                                    <label for="persona_contacto_hito4">Persona de
                                                        Contacto</label>
                                                    <select id="persona_contacto_hito4" name="persona_contacto_hito4"
                                                        class="form-select">
                                                    </select>
                                                </div>

                                                <div class="divLogroResultadoHito4 col-lg-3 col-sm-6 mb-4">
                                                    <input type="hidden" id="idLogroResultadoHito4"
                                                        value="{{hito4.logro_resultado}}">
                                                    <label for="logro_resultado_hito4">¿Se logró Resultado?</label>
                                                    <select id="logro_resultado_hito4" name="logro_resultado_hito4"
                                                        class="form-select">
                                                        <option value="Si">Si</option>
                                                        <option value="No">No</option>
                                                    </select>
                                                </div>

                                                <div class="divBtnAgregarEscalamientoHito4 col-lg-3 col-sm-6 pt-4">
                                                    <button type="button" class="btn btn-success float-right"
                                                        onclick="btnAgregarTablaHito4(selectEscalamientoHito4, selectContactoHito4, selectLogroResultadoHito4, tablaEscalamientoHito4)">Agregar Escalamiento</button>
                                                </div>

                                            </div>

                                        </div>
                                        
                                        <div class="table-responsive">
                                            <table id="tablaEscalamientoHito4"
                                                class="table table-sm table-centered table-nowrap table-striped mb-0 rounded w-75 d-none"
                                                style="margin: auto;">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="border-0">Escalamiento</th>
                                                        <th class="border-0">Persona de Contacto</th>
                                                        <th class="border-0">Resultado</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="divPrueba col-lg-6 col-sm-6 d-none">

                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-4">

                                                    <label for="fecha_prueba_hito4">Fecha de prueba</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span
                                                                class="far fa-calendar-alt"></span></span>
                                                        <input data-datepicker="" class="form-control"
                                                            id="fecha_prueba_hito4" name="fecha_prueba_hito4"
                                                            type="text" placeholder="dd/mm/aaaa"
                                                            value="{{hito4.fecha}}">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-sm-6 mb-4">
                                                    <label for="hora_prueba_hito4">Hora de prueba</label>
                                                    <input type="time" class="form-control" id="hora_prueba_hito4"
                                                        name="hora_prueba_hito4" value="{{hito4.hora}}">
                                                </div>

                                            </div>

                                        </div>

                                        <div class="divSolucionSi2 col-lg-9 col-sm-6 mt-4 d-none">

                                            <div class="row">

                                                <div class="col-lg-4 col-sm-6">
                                                    <label for="tipo_solucion2_hito4">¿Cual fue la solución?</label>
                                                    <input type="hidden" id="idTipoSolucion2Hito4"
                                                        value="{{hito4.tipo_solucion2}}">
                                                    <select id="tipo_solucion2_hito4" name="tipo_solucion2_hito4"
                                                        class="form-select">
                                                        <option value="1">Fisica</option>
                                                        <option value="2">Lógica</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-4 col-sm-6">
                                                    <label for="correccion2_hito4">¿Que corrección se realizó?</label>
                                                    <input type="text" id="correccion2_hito4" name="correccion2_hito4"
                                                        class="form-control" value="{{hito4.correccion2}}">
                                                    </input>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Cierre
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                
                <form id="formHito5" autocomplete="off">
                    <div class="row">
                        <div class="col-12">
                            <div class="card border-light shadow-sm components-section">
                                <div class="card-body">
                                    <div class="row mb-0">

                                        <div class="col-lg-3 col-sm-6">

                                            <input type="hidden" name="idSegHito5" value="{{asignacion._id}}">

                                            <input type="hidden" id="idHito5" name="idHito5"
                                                value="{{asignacion.hito5}}">

                                            <div class="mb-4">
                                                <input type="hidden" id="idTipoAveria"
                                                    value="{{hito5.tipo_averia}}">
                                                <label for="tipo_averia_hito5">¿Que tipo de averia es?</label>
                                                <select id="tipo_averia_hito5" name="tipo_averia_hito5"
                                                    class="form-select">
                                                    <option value="1">Normal</option>
                                                    <option value="2">Reiterada</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="divTipoNormal col-lg-4 col-sm-6">
                                            
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-4">

                                                    <label for="fecha_cierre_hito5">Fecha de cierre</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><span
                                                                class="far fa-calendar-alt"></span></span>
                                                        <input data-datepicker="" class="form-control"
                                                            id="fecha_cierre_hito5" name="fecha_cierre_hito5"
                                                            type="text" placeholder="dd/mm/aaaa"
                                                            value="{{hito5.fecha}}">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-sm-6 mb-4">
                                                    <label for="hora_cierre_hito5">Hora de cierre</label>
                                                    <input type="time" class="form-control" id="hora_cierre_hito5"
                                                        name="hora_cierre_hito5" value="{{hito5.hora}}">
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary float-right">Guardar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<!--#### Revisión de tiempos ####-->

<div class="table-responsive mt-4 mb-4">
    <table class="table table-sm table-centered table-nowrap table-striped mb-0 rounded">
        <thead class="thead-dark">
            <tr>
                <th class="border-0">Hito</th>
                <th class="border-0">Objetivo</th>
                <th class="border-0">Fecha y hora de vencimiento</th>
                <th class="border-0">Progreso</th>
                <th class="border-0">Fecha de Revisión</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-0 font-weight-bold">Registro, Diagnostico y Despacho</td>
                <td class="border-0 font-weight-bold">Tiempo de respuesta</td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_hito1}}</td>
                <td><span class="badge badge-lg {{#is objetivo.cumplimiento_hito1 1}}bg-success{{/is}}{{#is objetivo.cumplimiento_hito1 2}}bg-danger{{/is}}{{#is objetivo.cumplimiento_hito1 3}}bg-secondary text-dark{{/is}}">{{objetivo.progreso_hito1}}</span></td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_revision_hito1}}</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">Asignación de Personal Técnico</td>
                <td class="border-0 font-weight-bold">Tiempo de respuesta</td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_hito2}}</td>
                <td><span class="badge badge-lg {{#is objetivo.cumplimiento_hito2 1}}bg-success{{/is}}{{#is objetivo.cumplimiento_hito2 2}}bg-danger{{/is}}{{#is objetivo.cumplimiento_hito2 3}}bg-secondary text-dark{{/is}}">{{objetivo.progreso_hito2}}</span></td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_revision_hito2}}</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">Desplazamiento de Personal Técnico</td>
                <td class="border-0 font-weight-bold">Tiempo de respuesta</td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_hito3}}</td>
                <td><span class="badge badge-lg {{#is objetivo.cumplimiento_hito3 1}}bg-success{{/is}}{{#is objetivo.cumplimiento_hito3 2}}bg-danger{{/is}}{{#is objetivo.cumplimiento_hito3 3}}bg-secondary text-dark{{/is}}">{{objetivo.progreso_hito3}}</span></td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_revision_hito3}}</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">Solución</td>
                <td class="border-0 font-weight-bold">Tiempo de respuesta</td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_hito4}}</td>
                <td><span class="badge badge-lg {{#is objetivo.cumplimiento_hito4 1}}bg-success{{/is}}{{#is objetivo.cumplimiento_hito4 2}}bg-danger{{/is}}{{#is objetivo.cumplimiento_hito4 3}}bg-secondary text-dark{{/is}}">{{objetivo.progreso_hito4}}</span></td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_revision_hito4}}</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">Cierre {{objetivo.tipo_averia}}</td>
                <td class="border-0 font-weight-bold">Tiempo de respuesta</td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_hito5}}</td>
                <td><span class="badge badge-lg {{#is objetivo.cumplimiento_hito5 1}}bg-success{{/is}}{{#is objetivo.cumplimiento_hito5 2}}bg-danger{{/is}}{{#is objetivo.cumplimiento_hito5 3}}bg-secondary text-dark{{/is}}">{{objetivo.progreso_hito5}}</span></td>
                <td class="border-0 font-weight-bold">{{objetivo.fecha_revision_hito5}}</td>
            </tr>
            
        </tbody>
    </table>
</div>


<script>
    /* Toggle Menu */
    const toggleCollapse1 = document.querySelector('#headingOne .accordion-button')
    const toggleCollapse2 = document.querySelector('#headingTwo .accordion-button')
    const toggleCollapse3 = document.querySelector('#headingThree .accordion-button')
    const toggleCollapse4 = document.querySelector('#headingFour .accordion-button')
    const toggleCollapse5 = document.querySelector('#headingFive .accordion-button')

    const collapse1 = document.querySelector('#collapseOne')
    const collapse2 = document.querySelector('#collapseTwo')
    const collapse3 = document.querySelector('#collapseThree')
    const collapse4 = document.querySelector('#collapseFour')
    const collapse5 = document.querySelector('#collapseFive')

    let tc1 = toggleCollapse1.getAttribute('aria-expanded')
    let tc2 = toggleCollapse2.getAttribute('aria-expanded')
    let tc3 = toggleCollapse3.getAttribute('aria-expanded')
    let tc4 = toggleCollapse4.getAttribute('aria-expanded')
    let tc5 = toggleCollapse5.getAttribute('aria-expanded')

    toggleCollapse1.onclick = (e) => {
        e.target.classList.toggle('collapsed')
        collapse1.classList.toggle('show')

        toggleCollapse2.classList.add('collapsed')
        toggleCollapse3.classList.add('collapsed')
        toggleCollapse4.classList.add('collapsed')
        toggleCollapse5.classList.add('collapsed')

        collapse2.classList.remove('show')
        collapse3.classList.remove('show')
        collapse4.classList.remove('show')
        collapse5.classList.remove('show')

        if (tc1 == 'true') {
            tc1 = 'false'
        } else {
            tc1 = 'true'
        }
        toggleCollapse1.setAttribute('aria-expanded', tc1)
    }

    toggleCollapse2.onclick = (e) => {
        e.target.classList.toggle('collapsed');
        collapse2.classList.toggle('show')

        toggleCollapse1.classList.add('collapsed')
        toggleCollapse3.classList.add('collapsed')
        toggleCollapse4.classList.add('collapsed')
        toggleCollapse5.classList.add('collapsed')

        collapse1.classList.remove('show')
        collapse3.classList.remove('show')
        collapse4.classList.remove('show')
        collapse5.classList.remove('show')

        if (tc2 == 'true') {
            tc2 = 'false'
        } else {
            tc2 = 'false'
        }
        toggleCollapse2.setAttribute('aria-expanded', tc2)
    }

    toggleCollapse3.onclick = (e) => {
        e.target.classList.toggle('collapsed');
        collapse3.classList.toggle('show')

        toggleCollapse1.classList.add('collapsed')
        toggleCollapse2.classList.add('collapsed')
        toggleCollapse4.classList.add('collapsed')
        toggleCollapse5.classList.add('collapsed')

        collapse1.classList.remove('show')
        collapse2.classList.remove('show')
        collapse4.classList.remove('show')
        collapse5.classList.remove('show')

        if (tc3 == 'true') {
            tc3 = 'false'
        } else {
            tc3 = 'false'
        }
        toggleCollapse3.setAttribute('aria-expanded', tc3)
    }

    toggleCollapse4.onclick = (e) => {
        e.target.classList.toggle('collapsed');
        collapse4.classList.toggle('show')

        toggleCollapse1.classList.add('collapsed')
        toggleCollapse2.classList.add('collapsed')
        toggleCollapse3.classList.add('collapsed')
        toggleCollapse5.classList.add('collapsed')

        collapse1.classList.remove('show')
        collapse2.classList.remove('show')
        collapse3.classList.remove('show')
        collapse5.classList.remove('show')

        if (tc4 == 'true') {
            tc4 = 'false'
        } else {
            tc4 = 'false'
        }
        toggleCollapse4.setAttribute('aria-expanded', tc4)
    }

    toggleCollapse5.onclick = (e) => {
        e.target.classList.toggle('collapsed');
        collapse5.classList.toggle('show')

        toggleCollapse1.classList.add('collapsed')
        toggleCollapse2.classList.add('collapsed')
        toggleCollapse3.classList.add('collapsed')
        toggleCollapse4.classList.add('collapsed')

        collapse1.classList.remove('show')
        collapse2.classList.remove('show')
        collapse3.classList.remove('show')
        collapse4.classList.remove('show')

        if (tc5 == 'true') {
            tc5 = 'false'
        } else {
            tc5 = 'false'
        }
        toggleCollapse5.setAttribute('aria-expanded', tc5)
    }

</script>

<script src="/js/seguimiento.js"></script>