<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
  <table id="datatable" class="table" width="100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Alias</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>

      {{#each asesores}}

      <tr>
        <td><span class="font-weight-bold">{{formatIndex @index}}</span></td>
        <td><span class="font-weight-bold">{{nombre}} {{apellido}}</span></td>
        <td><span class="font-weight-normal">{{alias}}</span></td>
        <td>
          <div class="btn-group">
            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="icon icon-sm">
                <span class="fas fa-ellipsis-h icon-dark"></span>
              </span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/asesor/edit/{{_id}}"><span class="fas fa-edit mr-2"></span>Editar</a>
              <button type="button" onclick="btnEliminar('/asesor/delete/{{_id}}')" class="dropdown-item text-danger"><span class="fas fa-trash-alt mr-2"></span>Eliminar</button>
            </div>
          </div>
        </td>
      </tr>

      {{/each}}

    </tbody>
  </table>
</div>

<script src="/js/datatable.js"></script>
<script src="/js/confirm_delete.js"></script>